services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./data:/home/appuser/data
    environment:
      - SERVER_ADDRESS=0.0.0.0:8080
    networks:
      - default
    restart: unless-stopped

  frontend:
    profiles:
      - prod
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    networks:
      - default
    restart: unless-stopped

volumes:
  data:
